/* Brand Assets */
@font-face {
  font-family: 'HelveticaNeueW02-75Bold';
  src: url('./HelveticaNeueW02-75Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueW02-55Roma';
  src: url('./HelveticaNeueW02-55Roma.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* USPS */
  --skin-logo: url("./brands/usps/logo.svg");
  --skin-logo-header-width: 80px;
  --skin-logo-header-height: auto;
  --skin-logo-main-width: 60%;
  --skin-logo-main-height: auto;
  --skin-color: #004B87;
  --skin-font: 'HelveticaNeueW02-55Roma', 'Helvetica Neue';
  --skin-font-size: 13px;
  --skin-chat-bg-color: #fff;
  --skin-header-text-color: #fff;
  --skin-header-bg-color: #fff;
  --skin-footer-bg-color: #fff; 
  --skin-message-text-color: #fff;  
}
