body {
  background: #E4E5E7;
  height: 100%;
}
main .tab-content {
  height: 100%;
}
.container-fluid > div,
.tab-pane {
  height: 100%;
}
.nav-tabs .nav-item .nav-link, 
.nav-pills .nav-link {
  background: #FAFAFA;
  border-radius: 0px !important;
}
.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active,
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background: #FFFFFF;
  color: #313335;
  border-bottom: 2px solid #065D93;
  border-radius: 0px !important;
}

.btn-primary, .btn-danger, .btn {
  border-radius: 7px;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: center;
}

.btn-primary {
  background-color: #007BBD;
  border-color: transparent;
}
.btn-primary:hover {
  background: #065D93;
}
.btn-primary:disabled {
  background: transparent;
  color: #606263;
}
.btn-danger {
  background-color: #DC143C;
}
.btn-danger:hover {
  background-color: #BF0000;
}
.btn-danger:focus {
  background-color: #DC143C;
}

.container {
  padding-top: 0px;
}
.chat-panel {
  position: fixed;
  bottom: 25px;
  right: 25px;
  padding: 0;
  margin: 0;
}
.standalone .chat-panel { 
  position: absolute !important;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  /*top: 0;*/
}
.chat-panel.chat-panel-minimized {
  height: 56px;
}
.chat-panel > .card > .card-header {
  height: 56px;
  padding: 15px 18px 20px 18px;
  position:relative;
  /*overflow:hidden;*/
  color: #222;
  border-radius: 6px 6px 0px 0px;
}
.chat-panel > .card > .card-header:not(.bg-dark) { 
  background: #f5f8fa !important;   
}
.chat-panel > .card > .card-header.bg-dark .badge.bg-dark { 
  background: rgb(52,182,199) !important;
}
.chat-panel > .card-body {
  margin: 0px 8px;
}
#messagesHnd .msg .rounded {
  border-radius: 10px!important;
  line-height: 20px;
}
#messagesHnd .bg-light.msg {
  background: #efefef !important;
  color: #414141;
  line-height: 25px;
}
#messagesHnd .bg-white.msg {
  /*background: rgb(24,88,133) !important; */
  background: rgb(52,182,199) !important; 
  color: white !important;
}
#messagesHnd dd {
  font-size: 15px;
}
#cy {
  width: 1200px;
  height: 800px;
  display: block;
}
#messagesHnd {
  transition: 1s ease-in-out all;
}
.carousel-control-next-icon, 
.carousel-control-prev-icon {
    color: white;
    background-color: rgba(0,0,0,0.5);
    border-radius: 100px;
}
input[name=textInput] {
  height:46px;
  font-size: 15px;
}
.expand-collapse-button {
  position: relative;
  top: -1px;
  right: 4px;
}

.table-responsive .badge,
.nlu .card-body .badge {
  line-height: 1.5;
  font-weight: normal;
  font-size: 13px;
}

td .badge.bg-primary {
  background-color: #e4e5e7 !important;
}
td .badge.border-primary {
  border-color: #e4e5e7 !important;
}
td .badge.bg-primary.text-white,
td .badge.text-primary {
  color: #333 !important;
}
.dlgaas td .badge.bg-success {
  background-color: rgb(52,182,199) !important;
}
.dlgaas td .badge.bg-light.text-success {
  background-color: rgb(52,182,199) !important;
}
.dlgaas td .badge.border-success {
  border-color: rgb(52,182,199) !important;
}
.dlgaas td .badge.text-success,
.dlgaas td .badge.text-danger {
  color: white !important;
}

.log-viewer .form-check-inline {
  display: block;
}

pre {
  white-space: pre-wrap;
}

.react-json-view,
.pretty-json-container {
  font-family: Roboto, sans-serif, serif;
  font-size: 0.85em;
}

.asrWord {
  position:relative;
  min-width: 30px;
  padding-right: 15px;
  padding-top: 2px;
  padding-bottom: 0px;
  line-height: 1.6em;
  color: #222;
  display: inline-block;
}
.asrWord::after {
  content: attr(data-confidence) "";
  position: absolute;
  font-size: .6rem;
  color: #222;
  top: -10px;
  left: 0px;
}
.asrWord.highConf::after {
  color: #28a745;
}
.asrWord.medConf::after {
  color: #ffc107;
}
.asrWord.lowConf::after {
  color: #dc3545;
}
.react-json-view {
  background: transparent !important;
  text-color: #222;
}
.asr .bg-primary {
  background-color: #EFEFEF !important;
}
.asr .table,
.asr .bg-primary {
  color: #333;
}

